<div class="jumbotron">
    <h1>Glue42 configuration service example</h1>
    <p class="lead">This example project shows how to run a ASP.NET REST API service that provides applications definitions and layouts for a Glue42 instance. For more info check the readme.md in the repository.</p>
</div>
